body, html {
  background-image: url(/img/background.png);
  background-size: 100%;
  cursor: url(/img/pikachu.png), auto;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(19, 18, 18); 
  border-radius: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
}
.header { grid-area: 1 / 1 / 2 / 7; }
.left-container { grid-area: 2 / 1 / 5 / 4; }
.mid-container { grid-area: 2 / 3 / 5 / 5; 
margin: auto; }
.right-container { grid-area: 2 / 4 / 5 / 7;}
.pokedex-right-container { grid-area: 2 / 4 / 5 / 7;  
  margin: auto;
  width: 600px;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(128, 128, 128, 0.521);
  border-radius: 10px;
}

.c { grid-area: 5 / 3 / 6 / 4;}
.d { grid-area: 5 / 4 / 6 / 5;}
.e { grid-area: 5 / 5 / 6 / 6;}
.f { grid-area: 5 / 6 / 6 / 7;}



/* Hellopokemons Text */

@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy", cursive;
}
.hellopokemons {
  margin: 0;
  font-size: 8em;
  padding: 0;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}
.hellopokemons span {
    transform: scale(0.9);
    display: inline-block;
  }
.hellopokemons span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
      alternate;
  }
.hellopokemons span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
  }
@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

/* pokeball */

.pokeball{
	width: 100px;
	height: 100px;
	display:inline-block;
	margin:20px;
	position: relative;
	border: 6px solid #ccc;
	border-radius: 50%;
	background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
  font-size: 20px;
}
.pokeball:before{
	content: "";
	display: block;
	position: absolute;
	z-index: 6;
	width: 10%;	
	height: 10%;
	background-color: #FFF;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #AAA, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
	margin: 45%;
}
.box:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 94%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0);
  margin: 45% 3%;
  box-shadow: 12px 0 0 #fff, -12px 0 0 #fff;
}
.pokeball:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1)};
  100% { transform: scale(1); }
  }

/* login Form, signup Form*/

@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.loginForm, .signupForm {
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}
.loginForm input, .signupForm input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}
.loginForm input:focus, .signupForm input:focus {
  border-bottom: 5px solid #ffa580;
}
.loginForm button, .signupForm button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
.loginForm button:hover, .signupForm button:hover {
  background: black;
  color: white;
  border: 1px solid black;
}

.right-container {
  width: 450px;
  border: 2px solid gray;
  padding: 50px;
  border-radius: 20%;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  background-color: #eee;
  opacity: 0.8;
}

.left-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poke-container {
  flex-wrap: wrap;
  margin: 2px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  padding: 20px;
  opacity: 0.8;
  width: 20%;
}

/* pokedex */
#pokedex {
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: #dd0b2d;
  border: #88061c 10px solid;
  border-top-width: 20px;
  z-index: 2;
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: 3% 12% 40% 20% 20% 5%;
  border-radius: 2%;
  font-family: 'Press Start 2P';
}

.camera-display {
  background-color: #E5F6FC;
  border-radius: 5%;
  border: 30px solid #E6E6E6;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}
.camera-display img {
    width: 150px;
    height: 150px;

  }

.divider {
  background-color: #88061c;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 7;
  margin: 0 30px;
}
.stats-display {
  background-color: #9fdab1;
  border-radius: 0%;
  border: 5px solid #E6E6E6;
  grid-column-start: 4;
  grid-row-start: 3;
  padding: 15px;
  overflow: scroll;
}
.stats-display h2 {
    margin: 10px 0;
  }
.stats-display ul {
    margin: 10px;
    overflow: auto;
  }

.sensor button {
    cursor: pointer;
    background: #71CDF4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    z-index:3;
    float: left;
    margin-left: 25px;
    border: 3px solid white;
    grid-column-start: 2;
    grid-row-start: 2;
}
.botom-actions {
  grid-column-start: 2;
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 25% 25% 15% 35%;
  grid-template-rows: 10% 80% 10%;
}

#actions {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
}
 #actions .a {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #404040;
    border: 5px solid #303030;
    cursor: pointer;
  }

#cross {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}
 #cross .cross-button {
    background-color: #404040;
    border: #303030;
    color: red;
    cursor: pointer;
    border-style: solid;
  }
  .up {
    grid-row-start: 1;
    grid-column-start: 2;
    border-width: 5px 5px 0px 5px;
  }
  .right {
    grid-row-start: 2;
    grid-column-start: 1;
    border-width: 5px 0px 5px 5px;
  }
  .down {
    grid-row-start: 3;
    grid-column-start: 2;
    border-width: 0px 5px 5px 5px;
  }
  .left {
    grid-row-start: 2;
    grid-column-start: 3;
    border-width: 5px 5px 5px 0px;
  }
  .center {
    grid-row-start: 2;
    grid-column-start: 2;
    border-width: 0;
  }
.bottom-modes {
  grid-row-start: 5;
  grid-row-start: 5;
  grid-column-start: 4;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 20% 40%;
}
.black-button {
  background-color: #404040;
  border: #303030 5px solid;
  color: gray;
  cursor: pointer
}
.pokedex-mode {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.game-mode {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
.level-button {
  background-color: #1697F9;
  border: #71CDF4 5px solid;
  color: gray;
  cursor: pointer;
}
.type-pad {
  background-color: rgba(245, 248, 245, 0.836);
  width: 240px;
  height: 50px;
  margin: auto;
  grid-row-start: 4;
  grid-column-start: 4;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* pokemon list */

.pokedexUl {
  list-style-type: none;
}

.pokedexUl li {
  float: left;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.6);
	border-radius: 20%;
	width: 120px;
	height: 120px;
	text-align: center;
}

